{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Attendance by Fingerprints Check</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'app_extends/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'app_extends/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'app_extends/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'app_extends/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'app_extends/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'app_extends/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'app_extends/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'app_extends/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  
  <link href="{% static 'app_extends/assets/css/my_css.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'app_extends/assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Ninestars
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="/"><span>AttendanceByFPc</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="{% static 'app_extends/' %}index.html"><img src="{% static 'app_extends/' %}assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/" id="id_link_home">Home</a></li>
          <li style="width:100px; background:yellow;"></li>
          <li><a class="nav-link scrollto" href="/entree" id="id_link_entree">Entr&eacute;e</a></li>
          <li style="width:100px; background:yellow;"></li>
          <li><a class="nav-link scrollto" href="/sortie" id="id_link_sortie">Sortie</a></li>
          
          <li style="min-width:285px; background-color:green;"></li>
          <li></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
    
<!--
    <div id="div_id_home_fingerprint"  style="">
    <img src="{% static 'app_extends/assets/img/fingerprint_PNG82.png' %}" class="img-fluid animated"" alt="">
    </div>    
    -->
    
    <p style="position:absolute; height: 320px; width: 320px;" id='mon_p'>
    <!-- <img src="{% static 'app_extends/assets/img/fingerprint_PNG82.png' %}" class="img-fluid animated" alt=""> -->
    <!-- <img src="{% static 'app_extends/assets/img/104593362-human-identification-system-based-on-biometric-fingerprints-3d-fingerprint-scan-for-secure-access.png' %}" class="img-fluid animated" alt=""> -->
     <img src="{% static 'app_extends/assets/img/fingerprints_gettyimages.png' %}" class="img-fluid animated" style="position:absolute; height: 320px; width: 320px;" alt=""> 
    </p>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container" id=""  style="">

      <div class="row gy-4" >
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" id=""  style="z-index: 9999;">
	<!--img src="{% static 'app_extends/assets/img/fingerprint_PNG82.png' %}" class="img-fluid animated" alt=""-->
	{% block description_page %}
          <h1 class="roboto_font">Attendance By Fingerprints Check </h1>
          <h3>Est votre syst&egrave;me de v&eacute;rification de pr&eacute;sence par contr&ocirc;le d'empreinte digitale.</h3>
          <div>
            <!-- <a href="{% static 'app_extends/#about' %}" class="btn-get-started scrollto">Get Started</a> -->
          </div>
	{% endblock %}
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
	{% block contenu_page %}
		{% if message_succes %}
		<center>
		<ul style="display:block;">
			<li style="display:block;">
				<h3 class="message_succes" > <!-- ='font-family: "Roboto-Regular"; color:green; font-weight: bold;'> -->
				[ ACCES ACCORDE ]
				</h3>
			</li>		
			<!-- <li style="display:block;"><img src="{% static 'app_extends/assets/img/fingerprint-access-granted.jpg' %}" class="img-fluid animated" alt=""></li> -->
			<li style="display:block;"><img src="{% static 'app_extends/assets/img/fingerprint_PNG82.png' %}" class="" alt=""></li>
			
			<li style="display:block;">
				<h3 class="message_succes" > <!-- ='font-family: "Roboto-Regular"; color:green; font-weight: bold;'> -->
				{{ message_succes }}
				</h3>
			</li>
		</ul>
		</center>						     			
		{% else %}
	          <!-- <img src="{% static 'app_extends/' %}assets/img/hero-img.svg" class="img-fluid animated" alt=""> -->
		  <ul>
			<li class="roboto_font"> <h3><u>A votre arriv&eacute;e</u> <a class="link_entree_sortie" href="/entree">[ Cliquez ICI ! ]</a></h3>
				<ul>
					<li><h2><b>Veuillez poser l'un de vos doigts enr&ocirc;l&eacute;s sur le lecteur. Pour acc&eacute;der aux locaux apr&egrave;s la confirmation de votre identit&eacute;.</b></h2></li>					
				</ul>
			</li>
			
			<li class="roboto_font"> <h3><u>Pour votre sortie</u> <a class="link_entree_sortie" href="/sortie" style="">[ Cliquez ICI ! ]</a></h3>
				<ul>
					<li><h2><b>Veuillez poser l'un de vos doigts enr&ocirc;l&eacute;s sur le lecteur. Pour sortir des locaux apr&egrave;s confirmation de votre identit&eacute;.</b></h2></li>
					
				</ul>
			</li>
						
		  <ul>
		{% endif %}

	{% endblock %}
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">


        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>...</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/ -->
        Designed by <a href="https://bootstrapmade.com/">...</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="/" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'app_extends/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'app_extends/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'app_extends/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'app_extends/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'app_extends/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'app_extends/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'app_extends/assets/js/main.js' %}"></script>
  <script src="{% static 'app_extends/assets/js/my_js.js' %}"></script>

</body>

</html>